!.gitignore
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.toc
*.out
*.len
*.nav
*.pdf
*.snm
*.fls
*.mp4
*~
!public/manual.pdf

.sass-cache/
_site/

lib/
*.class

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea/

node_modules/*

app/assets/javascripts/libs/*

newsleak.io

.DS_Store
.classpath
.dockerignore
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.scala-ide.sdt.core.prefs
Gemfile.lock
conf/application_local.conf
conf/application_remote.conf
deployment.txt
