a:link  {
	text-decoration : none;
	color : red;  
	/* Hier wird die Farbe fuer die Links definiert: rot*/ 
}

a:active {
	text-decoration : none;
	color: #FFCC00; 
	/* Hier wird die Farbe fuer die aktiven Links definiert: gelb*/ 
}


a:visited  {
	text-decoration : none;
	color : red; 
	/* Hier wird die Farbe fuer die besuchten Links definiert: rot*/ 
}

BODY  {
	background-color : white;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	/* Hier werden die Hintergrundfarbe  und die Schriftart des gesamten Dokumentes definiert */ 
}

.Navig  {
	font-size : 12px;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(255, 0, 0);
	vertical-align : top;
	text-decoration : none;
	/* Diese Klasse wird im linken Frame zur Definition der Links verwendet*/ 
}

.Inhalt1  {
	font-size : 4mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
	/* Diese Klasse wird fuer Inhalte mit schwarzer Schrift verwendet*/ 
}

.Inhalt2  {
	font-size : 4mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(102, 102, 102);
	vertical-align : top;
	/* Diese Klasse wird fuer Inhalte mit grauer Schrift verwendet*/ 
}

.Inhalt3  {
	font-size : 3.6mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
	/* Diese Klasse wird fuer die Beschriftung mit kleiner schwarzer Schrift verwendet*/ 
}

.Inhalt4  {
	font-size : 3.4mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(102, 102, 102);
	vertical-align : top;
	/* Diese Klasse wird fuer Bildbeschriftung mit kleiner grauer Schrift verwendet*/ 
}

.Tab {
	margin-left : 40pt;
	line-height : 30pt; 
	/* Diese Klasse ist zum Einruecken der Links, wird z.Z. nicht eingesetzt */ 
}

.Header  {
	font-size : 16px;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
 	font-weight:bold;
	/* Diese Klasse ist fuer ‹berschriften erster Ordnung, s.a. H1 */ 
}

.Footer {
	font-size : 4mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
	vertical-align : top;
	/* Diese Klasse wird fuer die Fuﬂzeile mit kleiner schwarzer Schrift verwendet*/ 
}

H1 {
	font-size : 16px;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
 	font-weight:bold;
}

H2 {
	font-size : 14px;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
 	font-weight:bold;
}

H3 {
	font-size : 4mm;
	font-family : Geneva, Arial, Helvetica, sans-serif;
	color : rgb(0, 0, 0);
	vertical-align : top;
 	font-weight:bold;
}
